.container-fluid {
    width: 100%;

}
.container {
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.border-1 {
    border: 0.0625em solid;
}
.border-2 {
    border: 0.125em;
}
.border-gray {
    border-color: gray;
}
.bg-secondary {
    background-color: #eeeeee;
}
.bg-dark {
    background-color: #333333;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-white {
    color: white;
}
.mx-auto {

}

.m-10{
    margin: 0.625em;
}

.ms-10 {
    margin-left: 0.625em;
}
.me-10 {
    margin-right: 0.625em;
}
.mt-20 {
    margin-top: 1.25em;
}
.mb-20 {
    margin-bottom: 1.25em;
}

.mx-10 {
    margin-top: 0.625em;
    margin-bottom: 0.625em;
}
.my-20 {
    margin-left: 1.25em;
    margin-right: 1.25em;
}

.p-10{
    padding: 0.625em;
}

.ps-10 {
    padding-left: 0.625em;
}
.pe-10 {
    padding-right: 0.625em;
}
.pt-20 {
    padding-top: 1.25em;
}
.pb-20 {
    padding-bottom: 1.25em;
}

.px-10 {
    padding: 0 0.625em;
}
.py-20 {
    padding: 1.25em 0;
}
/*Extra small (max: <576px)*/
@media (max-width: 35.9375em) {
    .container {
        width: 100%;
    }

    /*.col-1,*/
    /*.col-2,*/
    /*.col-3,*/
    /*.col-4,*/
    /*.col-5,*/
    /*.col-6,*/
    /*.col-7,*/
    /*.col-8,*/
    /*.col-9,*/
    /*.col-10,*/
    /*.col-11,*/
    /*.col-12 {*/
    /*    display: block;*/
    /*}*/

    .col-0 {
        display: none;
    }
    .col-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
/*Small (max: ≥576px)*/
@media (max-width: 47.9375em) {
    .container {
        width: 33.75em;
    }

    .col-sm-0 {
        display: none;
    }
    .col-sm-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-sm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-sm-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-sm-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-sm-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
/*Medium (max: ≥768px)*/
@media (max-width: 61.9375em) {
    .container {
        width: 45em;
    }
    .col-md-0 {
        display: none;
    }
    .col-md-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-md-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
/*Large (max: ≥992px)*/
@media (max-width: 74.9375em) {
    .container {
        width: 60em;
    }
    .col-lg-0 {
        display: none;
    }
    .col-lg-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-lg-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-lg-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-lg-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-lg-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-lg-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-lg-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
/*Extra large (max: ≥1200px)*/
@media (min-width: 75em) {
    .container {
        width: 71.25em;
    }
    .col-xl-0 {
        display: none;
    }
    .col-xl-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-xl-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-xl-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-xl-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-xl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-xl-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-xl-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-xl-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-xl-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-xl-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-xl-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}